body {
    display: flex;
}

.logo-section {
    background: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex: 1;
    height: 100vh;
}

.form-section {
    flex: 2;
}