@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: "Norsebold";
    src:
        url(../fonts/Norsebold.woff2),
        format("woff2");
}

body {
    display: flex;
    margin: 0;
}

.logo-section {
    background: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-section {
    flex: 2;
    background: #f7fffc;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 2px #989e9c; 
}

form {
    padding: 0 48px 24px;
}
.form-section > h2 {
    padding: 48px 48px 24px;
}

.form-row {
    display: flex;
    gap: 64px;
}

.form-col {
    display: flex;
    flex-direction: column;
}

.logo {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

.logo h1 {
    font-family: "Norsebold", "Courier New", Courier, monospace;
    color: #FFF;
    font-size: 500%; /* check this later */
}

.logo-section .credit {
    font-size: 50%;
    color: #FFF;
    font-weight: 100;
    text-align: center;
}

.log-in {
    padding: 16px 48px 0;
}

button {
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    background: #596D48;
    color: #FFF;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}